


<div style="margin-top: 5%;">
<form *ngIf="login" id="loginForm" (ngSubmit)="onLogin(loginForm)" [formGroup]="loginForm" #formDir="ngForm">
        <div class="modal-content">
            <div class="modal-header bg-light" >
                <h4 class="modal-title" id="myModalLabelSignIn">Sign In</h4>
            </div>
            <div class="modal-body">
              <div class="form-field-container">
                  <mat-form-field>
                    <input matInput placeholder="Email" [formControl]="username" required>
                    <mat-error *ngIf="username.invalid">{{getEmailError()}}</mat-error>
                  </mat-form-field>
              </div>
              <div class="form-field-container">
                <mat-form-field>
                  <input matInput placeholder="Password" [type]="'password'" [formControl]="password" required>
                  <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <mat-error *ngIf="error"><p style="text-align: center;">Invalid login</p></mat-error>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" style="float: left" (click)=showRegister() >Create New Account</button>
                <button type="submit" class="btn btn-outline-primary">Login</button>
            </div>
        </div>
</form>



<form *ngIf="register" id="signUpForm" (ngsubmit)="signUp(signUpForm)" let signUpForm="ngForm">

    <div class="modal-content" >
        <div class="modal-header" class="modal-header bg-light" >

            <h4 class="modal-title" id="myModalLabelRegister">Register</h4>
        </div>
        <div class="modal-body">
            <!--<div class="form-group">
                <label for="usr" style="float: left;height: 20%; width: 10%;">Name:</label>
                <input type="text" class="form-control" id="usr" style="height: 20%; width: 50%;">
            </div>-->

          <div class="form-field-container">
            <mat-form-field>
              <input matInput placeholder="Email" [formControl]="username" required>
              <mat-error *ngIf="username.invalid">{{getEmailError()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <input matInput placeholder="Password" [type]="'password'" [formControl]="password" required>
              <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <input matInput placeholder="Re-enter password" [type]="'password'" [formControl]="password" required>
              <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
            </mat-form-field>
          </div>

           <!-- <div class="form-group">
                <label for="pwd">Email :</label>
                <input type="password" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd_renter">Re-enter Password:</label>
                <input type="password" class="form-control" id="pwd_renter">
            </div>-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" style="float: left" (click)=showLogin() >Sign-In</button>
            <button type="button" class="btn btn-outline-primary">Sing Up</button>
        </div>
    </div>

</form>

</div>
