  <mat-toolbar color="primary" class="fixed-top">
  <a routerLink="/readBoard" class="navbar-brand text-light font-weight-bold">ReadAdda</a>

    <div [class.active]="isSelected('/readboard')" class="nav-item"><a routerLink="/readBoard"
                             class="nav-link text-light">ReadBoard</a></div>
    <div [class.active]="isSelected('/writeboard')" class="nav-item"><a
      routerLink="/writeboard" class="nav-link text-light">WriteBoard</a></div>

    <span class="example-fill-remaining-space"></span>

    <div *ngIf="!authentication.isLoggedIn" class="nav-item">
      <button class="btn btn-default" routerLink="/authentication">Sign-In</button>
    </div>
    <div *ngIf="authentication.isLoggedIn" class="nav-item">
      <button class="btn btn-default" (click)="logout()">Sign-out</button>
    </div>
  <!--<div >
    <ul class="nav navbar-nav mr-auto">
      <li [class.active]="isSelected('/readboard')" class="nav-item"></li>
      <li [class.active]="isSelected('/writeboard')" class="nav-item">
      </li>
    </ul>
    <ul class="nav navbar-nav">
      &lt;!&ndash;<li><a href="" data-toggle="modal" data-target="#myModal">&nbsp;&nbsp;Login</a></li>&ndash;&gt;
      <li *ngIf="!authentication.isLoggedIn" class="nav-item">
        <button class="btn btn-default" routerLink="/authentication">Sign-In</button>
      </li>
      <li *ngIf="authentication.isLoggedIn" class="nav-item">
        <button class="btn btn-default" (click)="logout()">Sign-out</button>
      </li>
    </ul>
  </div>-->
  </mat-toolbar>
